button {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background: var(--gold);
  border: none;
  border-radius: 0.75rem;
  font-weight: bold;
}

input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
}

.xp-container {
  width: 100%;
  height: 12px;
  background: #1f2937;
  border-radius: 999px;
  overflow: hidden;
}

#xpBar {
  height: 100%;
  width: 0;
  background: var(--xp);
}

.card {
  background: var(--panel);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.pass {
  color: #22c55e;
}
.fail {
  color: #ef4444;
}
