header {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: var(--panel);
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .grades {
    grid-template-columns: repeat(5, 1fr);
  }
}
